/* CSS files --> experiences.html */
body{
    background-color: #ffffff;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #ffffff;
}
h1{
    text-align: center; 
    font-family: cursive;
    color: #d7d7d7;
    background-color: #313131;
} 
h3{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
}
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
.table-content{
    margin-left: auto; 
    margin-right: auto;
    background-color: #9effe5;
}
.ul-circle{
    list-style-type:circle;
    background-color: #5effd3;
} 
.ul-disc{
    list-style-type:disc;
    background-color: #5effd3;
}
.ul-square{
    list-style-type:square;
    background-color: #5effd3;
}
.ol-order{
    background-color: #5effd3;
}
.table-menu td:hover{
    background-color: #d7d7d7;
}